kivy[base]  # Создание форм и UI+ логгер
matplotlib  # карта ошибочных нажатий (визуализация)
numpy       # математический фрейморв (подсчет ошибок, скорости и тд)
easygui     # упрощенное создание интерфейса
